
.game {
  display: flex;
  width: 100vw;
  height: 100vw;
  flex-direction: column;
}

.section-top {
  display: flex;
  justify-content: center;
}

.cookie-container {
  display: flex;
  position: relative;
  width: 50%;
}

.big-cookie-img {
  position: relative;
  bottom: 11%; right: 13%;
  width: 17rem;
  height: auto;
}

.big-cookie-btn {
  position: absolute;
  height: 18rem;
  width: 18rem;
  background-color: rgba(243, 0, 0, 0.8);
  border-width: 2rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.section-bottom {
  display: flex;
}

