
.game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section-top {
  display: flex;
  height: 20vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 5%;
}

.score-cntnr {
  padding: 1rem;
}

.score {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cookie-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 20rem;
}

.big-cookie-btn {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 18rem;
  width: 18rem;
  padding: 2rem;
  border-color: transparent;
  border-width: 2rem;
  border-style: solid;
  border-radius: 50%;
}

.big-cookie-img {
  position: relative;
  bottom: 3.75rem;
  right: 3.75rem;
  width: 18rem;
  height: auto;
}

.section-bottom {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.upgrade-cntnr {
  display: flex;
  flex-direction: column;
}

.upgrade {
  flex-direction: column ;
  align-items: top center;
  display: flex;
  height: 4rem;
  width: 30rem;
}

.upgrade-name {
  font-size: 40px;
  text-align: start;
  width: 66%;
  height: 50%;
}

.cookies-per-sec {
  position: relative;
  top: 1rem;
  font-size: 12px;
  text-align: left;
}

.upgrade-cost {
  position: relative;
  bottom: 2rem;
  align-self: flex-end;
  font-size: 30px;
  text-align: left;
  width: 33%;
}