
.game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.score-cntnr {
  padding: 1rem;
}

.score {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cookie-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 20rem;
}

.big-cookie-btn {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 18rem;
  width: 18rem;
  padding: 2rem;
  border-color: transparent;
  border-width: 2rem;
  border-style: solid;
  border-radius: 50%;
}

.big-cookie-img {
  position: relative;
  bottom: 3.75rem;
  right: 3.75rem;
  width: 18rem;
  height: auto;
}

.section-bottom {
  display: flex;
  justify-content: center;
}

.upgrade-cntnr {
  display: flex;
  flex-direction: column;
}

.upgrade {
  height: 4rem;
  width: 30rem;
}
